<nav class="navbar navbar-expand- bg-body-tertiary">
    <div class="container-fluid">
        <!-- Botón de toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Logo Angular -->
        <a class="navbar-brand ml-auto" href="#">
            <img src="assets/images/angular.png" alt="Logo" width="150" height="" class="d-inline-block align-text-top">
        </a>

        <!-- Menú -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/home" routerLinkActive="active-link" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/pagina1" routerLinkActive="active-link" class="nav-link">¿Qué es Angular?</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/pagina2" routerLinkActive="active-link" class="nav-link">¿Qué podemos hacer con con él?</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/formulario" routerLinkActive="active-link" class="nav-link">Formulario Reactivo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
