<h1 class="text-center">¿Qué es Angular?</h1>

<div class="container">
    <p>Angular es un popular framework de desarrollo web y de aplicaciones de una sola página (SPA) desarrollado y mantenido por Google. Se utiliza para crear aplicaciones web dinámicas y robustas, especialmente aquellas que requieren una experiencia de usuario interactiva y fluida. Aquí tienes una descripción detallada de Angular:

        Arquitectura basada en componentes:
        Angular sigue una arquitectura basada en componentes, lo que significa que la aplicación se construye a partir de componentes reutilizables. Cada componente encapsula la lógica y la interfaz de usuario relacionadas, lo que facilita el desarrollo, la prueba y el mantenimiento de la aplicación.
        
        Uso de TypeScript:
        Angular está escrito en TypeScript, un superconjunto tipado de JavaScript. TypeScript proporciona características adicionales como tipos estáticos, interfaces y clases, lo que ayuda a detectar errores de manera temprana y a mejorar la calidad y la legibilidad del código.
        
        Enlace de datos bidireccional:
        Angular ofrece enlace de datos bidireccional, lo que significa que los cambios realizados en la vista se reflejan automáticamente en el modelo y viceversa. Esto simplifica la gestión del estado de la aplicación y mejora la experiencia del desarrollador.
        
        Inyección de dependencias:
        Angular utiliza un sistema de inyección de dependencias integrado que permite la creación y la gestión de objetos de manera eficiente. Esto promueve la modularidad y la reutilización del código al tiempo que facilita la prueba unitaria y la escritura de código limpio y mantenible.
        
        Enrutamiento:
        Angular proporciona un enrutador incorporado que permite la navegación entre diferentes vistas y la gestión de la historia del navegador de forma declarativa. Esto facilita la creación de aplicaciones de una sola página (SPA) con múltiples vistas y URL amigables.
        
        Directivas personalizadas:
        Angular permite la creación de directivas personalizadas para extender la funcionalidad del HTML. Las directivas pueden utilizarse para agregar comportamiento interactivo, manipular el DOM y aplicar estilos dinámicos.
        
        Rendimiento optimizado:
        Angular incluye diversas optimizaciones de rendimiento, como el cambio de detección, la compilación AOT (Ahead-Of-Time), la carga diferida de módulos y el uso de zonas para la gestión de eventos. Estas características ayudan a mejorar la velocidad de carga y la eficiencia de la aplicación.
        
        En resumen, Angular es un framework poderoso y completo que facilita el desarrollo de aplicaciones web modernas y escalables. Ofrece una amplia gama de características y herramientas para crear aplicaciones de alta calidad con una curva de aprendizaje relativamente baja.
    </p>
</div>